<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>À propos</title>
</head>

<body>
    <h1>À propos de notre entreprise</h1>
    <p>Nous sommes une entreprise spécialisée dans la vente d'annonces en ligne.</p>

    <nav>
        <button onclick="window.location.href='/'">Accueil</button>
    </nav>

</body>

</html>