<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Merci</title>
</head>

<body>
    <h1>Merci pour votre message !</h1>
    <p>Nous avons bien reçu votre message :</p>
    <ul>
        <li>Nom : <%= nom %>
        </li>
        <li>Email : <%= email %>
        </li>
        <li>Message : <%= message %>
        </li>
    </ul>
    <p>Nous vous répondrons dans les plus brefs délais.</p>

    <nav>
        <button onclick="window.location.href='/'">Accueil</button>
    </nav>

</body>

</html>