<div class="mt-32 h-screen">
    <div class="h-1/2 grid grid-cols-3">
        <div *ngFor="let furniture of furnitureList">
            <div class="border-2 border-customLighBeigeColor p-6 h-full w-full flex flex-col">
                <h2 class="text-xl font-semibold mb-2 overflow-y-auto">{{ furniture.name }}</h2>
                <p class="mb-4 overflow-y-auto">{{ furniture.category }}</p>
                <div class="text-sm flex-grow overflow-y-auto" *ngFor="let material of furniture.materials">
                    <span class="cursor-pointer hover:text-customBrownColor" [ngbTooltip]="tooltipContent"
                        placement="right">{{ material.name }}</span>
                    <ng-template #tooltipContent>
                        <div>Name: {{ material.name }}</div>
                        <div>Company: {{ material.company.name }}</div>
                        <div>Stock: {{ material.stock }}</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
