.ash {
    color: #B2BEB5;
}

.oak {
    color: #806517; 
}

.walnut {
    color: #6F4E37; 
}

.stainless-steel {
    color: #C0C0C0;
}

.aluminum {
    color: #848484; 
}

.plastic {
    color: #B8B8B8; 
}

.active {
    background-color: #e3d8b6;
  }
  
