<div class="mt-32 h-screen text-customBrownColor">
    <div class="h-1/2 grid grid-cols-3" style="grid-auto-rows: minmax(30rem, auto)">
        <div *ngFor="let furniture of furnitureList">
            <div class="border-2 border-customLighBeigeColor p-6 h-full min-h-0 w-full flex space-x-12 items-end">
                <p class="text-lg font-semibold overflow-y-auto">{{ furniture.name }}</p>
                <p class="font-semibold overflow-y-auto">{{ furniture.category }}</p>
                <div class="font-semibold flex-grow overflow-y-auto" *ngFor="let material of furniture.materials">
                    <span class="cursor-pointer hover:text-customLighBeigeColor" [ngbTooltip]="tooltipContent"
                        placement="top"><fa-icon [icon]="['fas', 'circle']" [ngClass]="material.name"></fa-icon> {{ material.name }}</span>
                    <ng-template #tooltipContent>
                        <div class="shadow-lg p-2 bg-customBeigeColor">
                            <div>Name: {{ material.name }}</div>
                            <div>Company: {{ material.company.name }}</div>
                            <div>Stock: {{ material.stock }}</div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>