<div class="flex flex-col justify-center items-center h-screen space-y-2">
    <h2 class="text-center text-2xl font-semibold mb-6">Create Furniture</h2>
    <form class="p-4 w-auto border space-y-4 border-customBrownColor" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="block font-medium mb-2" for="name">Name:</label>
            <input class="w-full border bg-customBeigeColor border-customBrownColor p-2" type="text" [(ngModel)]="name"
                name="name" required>
        </div>

        <div class="form-group space-x-2 flex-1">
            <label class="block font-medium mb-2">Category:</label>
            <div *ngFor="let option of categoryOptions" class="space-x-2 inline-flex">
                <input [(ngModel)]="category" type="radio" [value]="option" name="category" required>
                <label class="font-medium">{{ option | capitalize }}</label>
            </div>
        </div>

        <div class="form-group space-x-2 flex-1">
            <label class="block font-medium mb-2">Materials:</label>
            <div *ngFor="let material of materialList" class="space-x-2 inline-flex">
                <input type="checkbox" [(ngModel)]="materials[material._id]" [value]="material._id" name="materials">
                <label class="font-medium">{{ material.name | capitalize }}</label>
            </div>
        </div>

        <div class="form-group text-center">
            <button
                class="bg-customBrownColor text-white py-2 px-4 rounded-sm hover:text-customBrownColor mt-4 border-2 border-customBrownColor hover:bg-customBeigeColor"
                type="submit">
                Create
            </button>
        </div>
    </form>
    <div class="h-1/2 w-1/2">
        <app-material-chart></app-material-chart>
    </div>
</div>
