<!-- <div class="flex flex-col justify-center items-center h-screen">
    <header class="mb-24">
        <h1 class="text-center text-3xl font-bold text-customBrownColor">CraftBoard</h1>
    </header>
    <div class="p-6 mb-10 border border-customBrownColor">
        <ul class="flex border-b border-customBrownColor mb-4">
            <li class="mr-2" (click)="activeTab='login'">
                <a [ngClass]="{'border-b-2 border-customBrownColor text-customBrownColor': activeTab === 'login'}" 
                   class="inline-block py-2 px-4 font-semibold cursor-pointer">Login</a>
            </li>
            <li class="mr-2" (click)="activeTab='register'">
                <a [ngClass]="{'border-b-2 border-customBrownColor text-customBrownColor': activeTab === 'register'}" 
                   class="inline-block py-2 px-4 font-semibold cursor-pointer">Register</a>
            </li>
        </ul>
        <app-login *ngIf="activeTab === 'login'"></app-login>
        <app-register *ngIf="activeTab === 'register'"></app-register>
    </div>
</div> -->
<div class="flex flex-col justify-center items-center h-screen">
    <header class="mb-24">
        <h1 class="text-center text-3xl font-bold text-customBrownColor">CraftBoard</h1>
    </header>
    <div class="p-6 mb-10 border border-customBrownColor">
        <ul class="flex border-b border-customBrownColor mb-4">
            <li class="mr-2" (click)="activeTab='login'">
                <a [ngClass]="{'border-b-2 border-customBrownColor text-customBrownColor': activeTab === 'login'}" 
                   class="inline-block py-2 px-4 font-semibold cursor-pointer">Login</a>
            </li>
            <li class="mr-2" (click)="activeTab='register'">
                <a [ngClass]="{'border-b-2 border-customBrownColor text-customBrownColor': activeTab === 'register'}" 
                   class="inline-block py-2 px-4 font-semibold cursor-pointer">Register</a>
            </li>
        </ul>
        <app-auth-form 
            [isLoginMode]="true" 
            (onFormSubmit)="onSubmitLogin($event)" 
            *ngIf="activeTab === 'login'">
        </app-auth-form>
        <app-auth-form 
            [isLoginMode]="false" 
            (onFormSubmit)="onSubmitRegister($event)" 
            *ngIf="activeTab === 'register'">
        </app-auth-form>
    </div>
</div>
