<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Student Management</title>
</head>

<body>
    <header class="fixed top-0 left-0 w-full flex justify-between px-4 py-2 bg-gray-200">
        <h1 class="text-xl font-semibold">Student Management</h1>
        <nav class="flex items-center mx-auto">
            <a href="/students" class="text-gray-800 mx-2 hover:underline">Students</a>
        </nav>
    </header>

</body>

</html>