<nav class="sticky top-0 flex items-center space-x-36 justify-between bg-customBrownColor h-12">
    <div class="flex items-center mr-6 ml-2">
        <span class="font-semibold text-customBeigeColor text-xl tracking-tight">CraftBoard</span>
    </div>
    <div class="w-full flex items-center">
        <div class="text-sm font-semibold flex space-x-36">
            <a [routerLink]="['/furniture/create']" class="text-customBeigeColor">
                Create
            </a>
            <a [routerLink]="['/furniture/list']" class="text-customBeigeColor">
                Products
            </a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>